/* For use in src/lib/core/theming/_palette.scss */
$primary: (
  50: #e8f1fb,
  300: #3084d7,
  400: #1976d2,
  500: #145ea8,
  600: #0f477e,
  contrast: (
    50: #000000,
    300: #000000,
    400: #fefefe,
    500: #ffffff,
    600: #ffffff,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$accent: (
  50: #fff,
  100: #fdfdfd,
  200: #fcfcfc,
  300: #c8c8c8,
  400: #eee,
  500: #8f8f8f,
  600: #aaaaaa,
  700: #a1a1a1,
  800: #989898,
  900: #888888,
  A100: #ffffff,
  A200: #fdebeb,
  A400: #ffb6b6,
  A700: #ff9c9c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #3b3b3b,
    400: #141415,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #2e2e2e,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
